## Generate random data

In [2]:
import pandas as pd
import random

### Year vs Sales

In [4]:
int_list = random.sample(range(10, 1000), 30)
sales = [x/10 for x in int_list]
print(sales)

[64.9, 76.1, 3.9, 62.6, 2.5, 58.3, 49.0, 37.8, 45.6, 40.6, 41.6, 1.1, 96.1, 61.7, 93.5, 6.9, 69.8, 70.7, 76.8, 43.9, 47.0, 52.0, 20.6, 75.9, 40.1, 35.8, 72.6, 98.6, 24.1, 75.4]

In [10]:
data = {'Year_Released': random.sample(range(1970, 2020), 30),
        'Total_Sales': sales
        }
df = pd.DataFrame(data, columns= ['Year_Released', 'Total_Sales'])
df

    Year_Released  Total_Sales
0            1986         64.9
1            1978         76.1
2            2018          3.9
3            2016         62.6
4            1971          2.5
5            1984         58.3
6            2011         49.0
7            1989         37.8
8            1993         45.6
9            1997         40.6
10           1977         41.6
11           1981          1.1
12           1995         96.1
13           1982         61.7
14           1999         93.5
15           1983          6.9
16           1975         69.8
17           2014         70.7
18           1974         76.8
19           2013         43.9
20           2007         47.0
21           2005         52.0
22           2012         20.6
23           1987         75.9
24           1992         40.1
25           2009         35.8
26           1970         72.6
27           2001         98.6
28           2004         24.1
29           1985         75.4

In [17]:
df.to_csv('Sample_Datasets/sample_years_sales.csv', index = False, header=True)

### Critic score vs Sales

In [14]:
score = [x/10 for x in random.sample(range(10, 100), 30)]
sales2 = [x/10 for x in random.sample(range(10, 1000), 30)]
critic_data = {'Critic_Score': score ,
        'Total_Sales': sales2
        }
critic_df = pd.DataFrame(critic_data, columns= ['Critic_Score', 'Total_Sales'])
critic_df

    Critic_Score  Total_Sales
0            1.8         20.8
1            2.1         16.5
2            4.6         42.3
3            7.1         12.8
4            4.9         89.6
5            3.4         72.4
6            3.7          1.3
7            2.5         34.8
8            2.8         51.4
9            6.3         85.9
10           1.2         73.6
11           1.0         29.2
12           4.1         88.8
13           8.6         10.3
14           2.0         23.0
15           6.6         35.5
16           6.7         55.1
17           5.1         40.7
18           4.2         60.5
19           9.2         73.3
20           8.5         55.3
21           5.7         79.7
22           4.7         50.0
23           5.0         89.1
24           4.8         99.7
25           6.5         36.3
26           3.5          2.4
27           7.8         47.5
28           8.2         87.0
29           5.5         31.2

In [19]:
critic_df.to_csv('Sample_Datasets/sample_critic_sales.csv', index = False, header=True)